AccessModifierOffset: -4
BasedOnStyle: LLVM 
IndentWidth: 4
UseTab: Never
TabWidth: 4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializers: BeforeComma
BreakTemplateDeclarations: Yes
ColumnLimit: 120 
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
PointerAlignment: Left
DerivePointerAlignment: false
NamespaceIndentation: None
SortIncludes: true
IncludeBlocks: Merge
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
Cpp11BracedListStyle: false
PackConstructorInitializers: Never
InsertBraces: false
RemoveBracesLLVM: true
RemoveSemicolon: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterClass: true
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: true
